
{% extends 'base.html' %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todolist</title>
    <link rel="icon" type="image/x-icon" href="/wishlist/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="https://cdn.discordapp.com/attachments/902951430153981993/1027412464582795304/letter-t-.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
          Todolist
        </a>
        <h3>Selamat datang, {{username}}!</h3>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a type="button" class="btn btn-outline-success" href="{% url 'todolist:create_task' %}"" >Tambah Task Baru</a>
            <a type="button" class="btn btn-outline-danger" href="{% url 'todolist:logout' %}">Logout</a>
        </div>
      </div>
    </nav> 
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for todolist in list_todolist %}
            <div class="col">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">
                        <h5 class="card-title">{{todolist.title}} ({{todolist.date}})</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{todolist.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}    
      </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock content %}